# Node modules
node_modules/

# Next.js build output
.next/
out/

# Production
/build/
/dist/

# Dependencies
.pnp/
.pnp.js

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.*

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Typescript
*.tsbuildinfo

# Optional npm cache
.npm/

# Storybook
out-storybook/

# Misc
.sass-cache
.cache/
coverage/

# Supabase
supabase/.temp/
